[run]
include =
    picklepipe/*

omit =
    picklepipe/socketpair.py

[report]
exclude_lines =
    except ImportError:
    pass
    import
    raise
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Skip coverage.*
    def __repr__
    def __str__
